
.hotelItem{
    background-color: #fff;
    margin-bottom: 2rem;
}

.hotelItemImage{
   max-width: 100%;
   width: 100%;
   min-height: 280px;
   height: 100%;
   object-fit: fill;
}
.imageWrapper{
    position: relative;
}
.descriptionWrapper{
     padding: 20px;
}

.readMore{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #fff;
    padding: 5px 5px 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: small;
      text-decoration: none;
   
}
.readMore:hover{
    text-decoration: none;
}
.readMore strong{
    margin-right: 5px;
}
.contentWrapper{
    margin: 0 15px;
}
@media screen and (max-width: 600px) {
    .readMore{
    padding: 10px;
    right: 0;
    }
    .grid:nth-child(3){
        order: 1;
    }
}



.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}




.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.card {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: #fff;
  transition: color 0.15s ease, border-color 0.15s ease;

}
.heading{
    font-weight: 500;
    color: #1D307A;
    margin:20px 0 5px 0;
}
.textSmall{
  font-size: 0.8rem;
}
.textGray{
  color: #868e96;
}





.logo {
  height: 1em;
  margin-left: 0.5rem;
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
