.featureSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: flex-start;
    margin-bottom: 20px;
}
.textSmall{
  font-size: 0.8rem;
}