





@import url('normalize.css');
@import url('grid.css');
* {
  box-sizing: border-box;
}
html,
body {
    color: #313137;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background:  url('/assets/background.png');
    background-size: cover;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;

}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}
p {
    margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}






@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container{
  max-width: 1200px;
   margin:  0 auto;
}

.bg-white {
  background: white;
}
.textBlue{
  color: #1D307A;
}
@media screen and (min-width: 600px) {
  .container{
    padding: 2rem;
  }
}
